body {
    background-color: #84a98c;
}

.content1 {
    padding: 2vw 1vw;
    height: fit-content;
    width: 40vw;
    position: relative;
    left: 10vw;
    top: 5vw;
    text-align: center;
    background-color:#84a98c;
}

.content1 span {
    color: black;
    
}

h1 {
    text-align: center;
    color: #2f3e46;
}

h2 {
    text-align: center;
    color: #354f52;
}


button {
    display: block;
    margin: auto;
    width: fit-content;
    color: #cad2c5;
    background-color: #52796f;
}